<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">About</h1>
</div>

<div class="pt-3">
  <p>This is a simple user management system</p>
  <p>
    Check out my <a href="https://github.com/devmbilal">Github</a> and support
    by Follow!
  </p>
</div>
